@page "{type?}"
@model CarRental.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Резервации";
}
@{
    int counter = 1;
}

@section Styles{
    <link rel="stylesheet" href="~/css/DealerAndTenantsIndex.css" />
}

<div class="bs">
    <div class="color-overlay"></div>
    @if (Model.ReservedCar.Count == 0)
    {
           <div class="no-customer">
                <h2 class="text-light">Все още няма резервации!</h2>
        </div>
    }
    else
    {
        @if (ViewBag.type == "dealer")
        {
            <div class="text-center" style="margin-bottom: 40px; z-index: 99; position: absolute; top: 10%; left: 50%; transform: translate(-50%, -50%);">
                <a asp-page-handler="export" class="export-button">Експорт</a>
            </div>
        }
        
        <div class="table-section" style="margin-top: 100px;">
          <table class="table table-hover table-dark">
                  <thead>
                      <tr>
                          @if(ViewBag.type == "dealer")
                          {
                              <th scope="col">Наемател</th>
                          }
                          else
                          {
                             <th scope="col">Дилър</th>
                          }
                          <th scope="col">Телефон за връзка</th>
                          <th scope="col">Имейл</th>
                          <th scope="col">Автомобил</th>
                          <th scope="col">Период на наем</th>
                          <th scope="col">Обща сума (лв.)</th>
                          <th scope="col">Платена</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
              <tbody>
                    @foreach (var reservation in Model.ReservedCar)
                    {
                       <tr data-id="@reservation.Id">
                            @if (ViewBag.type == "dealer")
                            {
                                <td>@(reservation.Tenant.FirstName + " " + reservation.Tenant.LastName)</td>
                                <td>@reservation.Tenant.PhoneNumber</td>
                                <td>@reservation.Tenant.Email</td>
                            }
                            else
                            {
                                <td>@(reservation.Car.Creator.FirstName + " " + reservation.Car.Creator.LastName)</td>
                                <td>@reservation.Car.Creator.PhoneNumber</td>
                                <td>@reservation.Car.Creator.Email</td>
                            }
                           <td>@(reservation.Car.Make.Name + " " + reservation.Car.Model + " " + reservation.Car.Year)</td>
                           <td>@(reservation.StartDate.ToString("MM/dd/yyyy") + "-" + reservation.EndDate.ToString("MM/dd/yyyy"))</td>
                           <td>@((reservation.EndDate - reservation.StartDate).TotalDays * reservation.Car.PricePerDay)</td>
                           <td>@(reservation.IsPaid == true?"Да":"Не")</td>
                           <td>
                                @if(ViewBag.type == "tenant" && reservation.IsPaid == false)
                                {
                                    <a asp-page="PaymentModel" asp-route-id="@reservation.Id" title="Плати сега" class="btn btn-success">
                                        <i class="fas fa-money-bill-wave"></i>
                                    </a>
                                }
                                <form asp-page-handler="delete" method="post" asp-route-id="@reservation.Id">
                                   <button title="Откажи" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                              </form>
                           </td>
                       </tr>

                        counter++;
                    }
              </tbody>
          </table>
        </div>
    }
</div>
@section Scripts{
                <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
}

